@import './src/css/styles';

.login {
  height: 35rem;
  width: 35rem;

  .header {
    margin-left: 10%;
    margin-top: 1rem;
    width: 80%;

    span {
      color: $color-bluegrey;
      font-size: 4rem;
    }
  }

  .login-content {
    margin-left: 10%;
    width: 80%;

    .text {
      margin-top: 0.8rem;
      text-align: center;
      width: 100%;
    }

    .error-text {
      color: $color-red;
    }

    .success-text {
      color: $color-green;
    }

    .inputs .text-input {
      margin-top: 1rem;

      &:first-child {
        margin-top: 2rem;
      }
    }

    .actions {
      justify-content: space-between;
      margin-top: 2rem;
      width: 100%;
    }

    .security-area {
      color: $color-turquoise;
      justify-content: flex-end;
      margin-top: 1rem;
      width: 100%;

      a:visited {
        color: $color-turquoise;
      }
    }
  }

  .flex-row-box {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .flex-column-box {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
